---
clair:
  host: "localhost:6060"

output:
  format: table # "json", "table", "short-table" or quiet
# ucomment if you want to use the rocketchat output feature
#  rocketchat:
#    webhook-url: rocket-chat.com/hooks/...
#    receiver: "#general,@admin"

fail_on:
  score: 379
  big_vulnerability: true
